//- index.jade
include ../includes/zip.php
doctype html
html
  head
    include ../includes/head.jade
    title Printable templates for UX & UI designers
    meta(name='title' ,content='Printable sketch sheets for UX & UI designers')
    meta(property='og:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='twitter:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='description', content='Printable wireframe templates for designers')
    meta(property='og:description', content='Printable wireframe templates for designers')
    meta(name='twitter:description', content='Printable wireframe templates for designers')
    link(rel='stylesheet', href='../css/style.css')
  body        
    .wrap
      nav
        .row
          .column.four
            .logo
              a(href='/')
          .column.eight
            ul
              li
                a(href='/devicetemplates') Device Templates
              li
                a(href='../icontemplates') Icon Templates
              li
                a.active(href='../othertemplates') Other Templates
      section
        .row.hero
          .column
            h3 Free Printable Device Templates for Designers
            a(href='')
              i.icon-twitter
        
      .row
        aside.column.aside-left.top.nest
          .row.sidebar
            .column.twelve
              .download-collection
                button.disabled.download-collection-button
                  span.button-label.disabled
                    | Download Collection
                  .collection-total
                    span.collection-total-count
                      | 0
            .column.twelve
              .filter
                .filter-list(data-filter-group='device')
                  span Device
                  button.button.checked(data-filter='') All
                  button.button(data-filter='.apple') Apple
                  button.button(data-filter='.android') Android
                  button.button(data-filter='.standard') Standard
        section.column.aside-right.top.nest
          form(name='zips' method='post')
            .row.justify.grid
            input(type='submit' name='zipit' class='zipit')
  
    script(src='../js/jquery-1.12.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js')
    script(src='../js/isotope.pkgd.min.js')
    script(src='../js/classie.js')
    script(src='../js/scripts.js')