//- includes/footer.jade

section.footer
  .wrap
    .line
    .row.footer-links
      .column.three.top
        h6 Templates
        ul  
          li
            a(href='/') Device Templates
      .column.three.top
        h6 Online
        ul
          li
            a(href='https://github.com/rnarrkus/sketchsheets' target='_blank') Github
          li
            a(href='http://twitter.com/sketchsheets' target='_blank') Twitter
      .column.three.top
        h6 License
        ul
          li
            a(href='https://opensource.org/licenses/MIT' target='_blank') MIT License
      .column.three.top
        h6 Contact
        ul
          li
            a(href='mailto:mail@sketchsheets.cc') Feedback
          li
            a(href='mailto:ads@sketchsheets.cc') Advertising
    .row
      .column
        p Made with #[span #[i.icon-heart]] by #[a(href='http://markwil.so' target='_blank') Mark Wilson]
        p Big thanks to #[a(href='http://r0bbie.com' target='_blank') Robbie Cargill]