//- includes/ipad.jade

.column.item.ipad.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-x1/Blank/iPad-Portrait-x1.png' class='lightbox')
      img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-x1/Blank/iPad-Portrait-x1.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-Multitask-x1/Blank/iPad-Portrait-Multitask-x1.png' class='lightbox')
      img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-Multitask-x1/Blank/iPad-Portrait-Multitask-x1.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-x2/Blank/iPad-Portrait-x2.png' class='lightbox')
      img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-x2/Blank/iPad-Portrait-x2.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-x1-Multitask-x1/Blank/iPad-Portrait-x1-Multitask-x1.png' class='lightbox')
      img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-x1-Multitask-x1/Blank/iPad-Portrait-x1-Multitask-x1.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-Multitask-x2/Blank/iPad-Portrait-Multitask-x2.png' class='lightbox')
      img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-Multitask-x2/Blank/iPad-Portrait-Multitask-x2.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-x1/Blank/iPad-Landscape-x1.png' class='lightbox')
      img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-x1/Blank/iPad-Landscape-x1.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x1-A/Blank/iPad-Landscape-Multitask-x1-A.png' class='lightbox')
      img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x1-A/Blank/iPad-Landscape-Multitask-x1-A.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x1-B/Blank/iPad-Landscape-Multitask-x1-B.png' class='lightbox')
      img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x1-B/Blank/iPad-Landscape-Multitask-x1-B.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-x2/Blank/iPad-Landscape-x2.png' class='lightbox')
      img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-x2/Blank/iPad-Landscape-x2.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-x1-Multitask-x1-A/Blank/iPad-Landscape-x1-Multitask-x1-A.png' class='lightbox')
      img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-x1-Multitask-x1-A/Blank/iPad-Landscape-x1-Multitask-x1-A.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-x1-Multitask-x1-B/Blank/iPad-Landscape-x1-Multitask-x1-B.png' class='lightbox')
      img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-x1-Multitask-x1-B/Blank/iPad-Landscape-x1-Multitask-x1-B.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x2-A/Blank/iPad-Landscape-Multitask-x2-A.png' class='lightbox')
      img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x2-A/Blank/iPad-Landscape-Multitask-x2-A.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.ipad.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPad/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x2-B/Blank/iPad-Landscape-Multitask-x2-B.png' class='lightbox')
      img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x2-B/Blank/iPad-Landscape-Multitask-x2-B.png')
    a(href='' class='downloadzip') 
      span Download 