//- includes/ipad.jade
include mixins.jade

//- Portrait
+sketchsheet('ipad portrait standard', 'iPad/Portrait/iPad-Portrait-x1')
+sketchsheet('ipad portrait standard', 'iPad/Portrait/iPad-Portrait-Multitask-x1')
+sketchsheet('ipad portrait standard', 'iPad/Portrait/iPad-Portrait-x2')
+sketchsheet('ipad portrait standard', 'iPad/Portrait/iPad-Portrait-x1-Multitask-x1')
+sketchsheet('ipad portrait standard', 'iPad/Portrait/iPad-Portrait-Multitask-x2')

//- Landscape
+sketchsheet('ipad landscape standard', 'iPad/Landscape/iPad-Landscape-x1')
+sketchsheet('ipad landscape standard', 'iPad/Landscape/iPad-Landscape-Multitask-x1-A')
+sketchsheet('ipad landscape standard', 'iPad/Landscape/iPad-Landscape-Multitask-x1-B')
+sketchsheet('ipad landscape standard', 'iPad/Landscape/iPad-Landscape-x2')
+sketchsheet('ipad landscape standard', 'iPad/Landscape/iPad-Landscape-x1-Multitask-x1-A')
+sketchsheet('ipad landscape standard', 'iPad/Landscape/iPad-Landscape-x1-Multitask-x1-B')
+sketchsheet('ipad landscape standard', 'iPad/Landscape/iPad-Landscape-Multitask-x2-A')
+sketchsheet('ipad landscape standard', 'iPad/Landscape/iPad-Landscape-Multitask-x2-B')