//- includes/ipad.jade
include mixins.jade

//- Portrait
+sketchsheet('iPad-Portrait-x1', 'ipad portrait standard', 'iPad/Portrait/iPad-Portrait-x1')
+sketchsheet('iPad-Portrait-Multitask-x1', 'ipad portrait standard', 'iPad/Portrait/iPad-Portrait-Multitask-x1')
+sketchsheet('iPad-Portrait-x2', 'ipad portrait standard', 'iPad/Portrait/iPad-Portrait-x2')
+sketchsheet('iPad-Portrait-x1-Multitask-x1', 'ipad portrait standard', 'iPad/Portrait/iPad-Portrait-x1-Multitask-x1')
+sketchsheet('iPad-Portrait-Multitask-x2', 'ipad portrait standard', 'iPad/Portrait/iPad-Portrait-Multitask-x2')

//- Landscape
+sketchsheet('iPad-Landscape-x1', 'ipad landscape standard', 'iPad/Landscape/iPad-Landscape-x1')
+sketchsheet('iPad-Landscape-Multitask-x1-A', 'ipad landscape standard', 'iPad/Landscape/iPad-Landscape-Multitask-x1-A')
+sketchsheet('iPad-Landscape-Multitask-x1-B', 'ipad landscape standard', 'iPad/Landscape/iPad-Landscape-Multitask-x1-B')
+sketchsheet('iPad-Landscape-x2', 'ipad landscape standard', 'iPad/Landscape/iPad-Landscape-x2')
+sketchsheet('iPad-Landscape-x1-Multitask-x1-A', 'ipad landscape standard', 'iPad/Landscape/iPad-Landscape-x1-Multitask-x1-A')
+sketchsheet('iPad-Landscape-x1-Multitask-x1-B', 'ipad landscape standard', 'iPad/Landscape/iPad-Landscape-x1-Multitask-x1-B')
+sketchsheet('iPad-Landscape-Multitask-x2-A', 'ipad landscape standard', 'iPad/Landscape/iPad-Landscape-Multitask-x2-A')
+sketchsheet('iPad-Landscape-Multitask-x2-B', 'ipad landscape standard', 'iPad/Landscape/iPad-Landscape-Multitask-x2-B')