//- includes/iphone5.jade
include mixins.jade

//- Portrait
+sketchsheet('iPhone5-Portrait-Standard-x2', 'iphone5 portrait standard', 'iPhone5/Portrait/iPhone5-Portrait-Standard-x2')
+sketchsheet('iPhone5-Portrait-Standard-x3', 'iphone5 portrait standard', 'iPhone5/Portrait/iPhone5-Portrait-Standard-x3')
+sketchsheet('iPhone5-Portrait-Standard-x4', 'iphone5 portrait standard', 'iPhone5/Portrait/iPhone5-Portrait-Standard-x4')
+sketchsheet('iPhone5-Portrait-Standard-x1-Scrolled-x1', 'iphone5 portrait standard-scrolled', 'iPhone5/Portrait/iPhone5-Portrait-Standard-x1-Scrolled-x1')
+sketchsheet('iPhone5-Portrait-Standard-x2-Scrolled-x1', 'iphone5 portrait standard-scrolled', 'iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x1')
+sketchsheet('iPhone5-Portrait-Standard-x2-Scrolled-x2', 'iphone5 portrait standard-scrolled', 'iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x2')
+sketchsheet('iPhone5-Portrait-Scrolled-x2', 'iphone5 portrait scrolled', 'iPhone5/Portrait/iPhone5-Portrait-Scrolled-x2')
+sketchsheet('iPhone5-Portrait-Scrolled-x3', 'iphone5 portrait scrolled', 'iPhone5/Portrait/iPhone5-Portrait-Scrolled-x3')
+sketchsheet('iPhone5-Portrait-Scrolled-x4', 'iphone5 portrait scrolled', 'iPhone5/Portrait/iPhone5-Portrait-Scrolled-x4')

//- Portrait + Landscape
+sketchsheet('iPhone5-Portrait-Standard-x1-Landscape-Standard-x1', 'iphone5 portrait-landscape standard', 'iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Standard-x1')
+sketchsheet('iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1', 'iphone5 portrait-landscape standard-scrolled', 'iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1', 'iphone5 portrait-landscape scrolled', 'iPhone5/Landscape+Portrait/iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1')

//- Landscape
+sketchsheet('iPhone5-Landscape-Standard-x2', 'iphone5 landscape standard', 'iPhone5/Landscape/iPhone5-Landscape-Standard-x2')
+sketchsheet('iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1', 'iphone5 landscape standard-scrolled', 'iPhone5/Landscape/iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('iPhone5-Landscape-Scrolled-x2', 'iphone5 landscape scrolled', 'iPhone5/Landscape/iPhone5-Landscape-Scrolled-x2')