//- includes/iphone6.jade
include mixins.jade

//- Portrait
+sketchsheet('iPhone6-Portrait-Standard-x2', 'iphone6 portrait standard', 'iPhone6/Portrait/iPhone6-Portrait-Standard-x2')
+sketchsheet('iPhone6-Portrait-Standard-x3', 'iphone6 portrait standard', 'iPhone6/Portrait/iPhone6-Portrait-Standard-x3')
+sketchsheet('iPhone6-Portrait-Standard-x4', 'iphone6 portrait standard', 'iPhone6/Portrait/iPhone6-Portrait-Standard-x4')
+sketchsheet('iPhone6-Portrait-Standard-x1-Scrolled-x1', 'iphone6 portrait standard-scrolled', 'iPhone6/Portrait/iPhone6-Portrait-Standard-x1-Scrolled-x1')
+sketchsheet('iPhone6-Portrait-Standard-x2-Scrolled-x1', 'iphone6 portrait standard-scrolled', 'iPhone6/Portrait/iPhone6-Portrait-Standard-x2-Scrolled-x1')
+sketchsheet('iPhone6-Portrait-Standard-x2-Scrolled-x2', 'iphone6 portrait standard-scrolled', 'iPhone6/Portrait/iPhone6-Portrait-Standard-x2-Scrolled-x2')
+sketchsheet('iPhone6-Portrait-Scrolled-x2', 'iphone6 portrait scrolled', 'iPhone6/Portrait/iPhone6-Portrait-Scrolled-x2')
+sketchsheet('iPhone6-Portrait-Scrolled-x3', 'iphone6 portrait scrolled', 'iPhone6/Portrait/iPhone6-Portrait-Scrolled-x3')
+sketchsheet('iPhone6-Portrait-Scrolled-x4', 'iphone6 portrait scrolled', 'iPhone6/Portrait/iPhone6-Portrait-Scrolled-x4')

//- Portrait + Landscape
+sketchsheet('iPhone6-Portrait-Standard-x1-Landscape-Standard-x1', 'iphone6 portrait-landscape standard', 'iPhone6/Landscape+Portrait/iPhone6-Portrait-Standard-x1-Landscape-Standard-x1')
+sketchsheet('iPhone6-Portrait-Standard-x1-Landscape-Scrolled-x1', 'iphone6 portrait-landscape standard-scrolled', 'iPhone6/Landscape+Portrait/iPhone6-Portrait-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('iPhone6-Portrait-Scrolled-x1-Landscape-Scrolled-x1', 'iphone6 portrait-landscape scrolled', 'iPhone6/Landscape+Portrait/iPhone6-Portrait-Scrolled-x1-Landscape-Scrolled-x1')

//- Landscape
+sketchsheet('iPhone6-Landscape-Standard-x2', 'iphone6 landscape standard', 'iPhone6/Landscape/iPhone6-Landscape-Standard-x2')
+sketchsheet('iPhone6-Landscape-Standard-x1-Landscape-Scrolled-x1', 'iphone6 landscape standard-scrolled', 'iPhone6/Landscape/iPhone6-Landscape-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('iPhone6-Landscape-Scrolled-x2', 'iphone6 landscape scrolled', 'iPhone6/Landscape/iPhone6-Landscape-Scrolled-x2')