//- includes/iphone6plus.jade
include mixins.jade

//- Portrait
+sketchsheet('iphone6plus portrait standard', 'iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2')
+sketchsheet('iphone6plus portrait standard', 'iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x3')
+sketchsheet('iphone6plus portrait standard', 'iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x4')
+sketchsheet('iphone6plus portrait standard-scrolled', 'iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x1-Scrolled-x1')
+sketchsheet('iphone6plus portrait standard-scrolled', 'iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x1')
+sketchsheet('iphone6plus portrait standard-scrolled', 'iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x2')
+sketchsheet('iphone6plus portrait scrolled', 'iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x2')
+sketchsheet('iphone6plus portrait scrolled', 'iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x3')
+sketchsheet('iphone6plus portrait scrolled', 'iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x4')

//- Portrait + Landscape
+sketchsheet('iphone6plus portrait-landscape standard', 'iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Standard-x1')
+sketchsheet('iphone6plus portrait-landscape standard-scrolled', 'iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('iphone6plus portrait-landscape scrolled', 'iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Scrolled-x1-Landscape-Scrolled-x1')

//- Landscape
+sketchsheet('iphone6plus landscape standard', 'iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x2')
+sketchsheet('iphone6plus landscape standard-scrolled', 'iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('iphone6plus landscape scrolled', 'iPhone6Plus/Landscape/iPhone6Plus-Landscape-Scrolled-x2')