//- includes/iphone6plus.jade

.column.item.iphone6plus.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2/Blank/iPhone6Plus-Portrait-Standard-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2/Blank/iPhone6Plus-Portrait-Standard-x2.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x3/Blank/iPhone6Plus-Portrait-Standard-x3.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x3/Blank/iPhone6Plus-Portrait-Standard-x3.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x4/Blank/iPhone6Plus-Portrait-Standard-x4.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x4/Blank/iPhone6Plus-Portrait-Standard-x4.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Scrolled-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x2-Scrolled-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x2-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone6Plus-Portrait-Standard-x2-Scrolled-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone6Plus-Portrait-Standard-x2-Scrolled-x2.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x2/Blank/iPhone6Plus-Portrait-Scrolled-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x2/Blank/iPhone6Plus-Portrait-Scrolled-x2.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x3/Blank/iPhone6Plus-Portrait-Scrolled-x3.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x3/Blank/iPhone6Plus-Portrait-Scrolled-x3.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x4/Blank/iPhone6Plus-Portrait-Scrolled-x4.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x4/Blank/iPhone6Plus-Portrait-Scrolled-x4.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait-landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Landscape-Standard-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Landscape-Standard-x1.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait-landscape.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Landscape-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone6plus.portrait-landscape.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download
.column.item.iphone6plus.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x2/Blank/iPhone6Plus-Landscape-Standard-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x2/Blank/iPhone6Plus-Landscape-Standard-x2.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.iphone6plus.landscape.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Landscape-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Landscape-Standard-x1-Landscape-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.iphone6plus.landscape.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone6Plus/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Scrolled-x2/Blank/iPhone6Plus-Landscape-Scrolled-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Scrolled-x2/Blank/iPhone6Plus-Landscape-Scrolled-x2.png')
    a(href='' class='downloadzip') 
      span Download