//- includes/iphone5.jade

.column.item.iphone5.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone5/Portrait/iPhone5-Portrait-Standard-x2/Blank/iPhone5-Portrait-Standard-x2.png')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2/Blank/iPhone5-Portrait-Standard-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2/Blank/iPhone5-Portrait-Standard-x2.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x3/Blank/iPhone5-Portrait-Standard-x3.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x3/Blank/iPhone5-Portrait-Standard-x3.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x4/Blank/iPhone5-Portrait-Standard-x4.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x4/Blank/iPhone5-Portrait-Standard-x4.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x1-Scrolled-x1.png'   class='lightbox')
      img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x1-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x2-Scrolled-x1.png'   class='lightbox')
      img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x2-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone5-Portrait-Standard-x2-Scrolled-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone5-Portrait-Standard-x2-Scrolled-x2.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x2/Blank/iPhone5-Portrait-Scrolled-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x2/Blank/iPhone5-Portrait-Scrolled-x2.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x3/Blank/iPhone5-Portrait-Scrolled-x3.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x3/Blank/iPhone5-Portrait-Scrolled-x3.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x4/Blank/iPhone5-Portrait-Scrolled-x4.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x4/Blank/iPhone5-Portrait-Scrolled-x4.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait-landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone5-Portrait-Standard-x1-Landscape-Standard-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone5-Portrait-Standard-x1-Landscape-Standard-x1.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait-landscape.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download                  
.column.item.iphone5.portrait-landscape.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download
.column.item.iphone5.landscape.standard
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Standard-x2/Blank/iPhone5-Landscape-Standard-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Standard-x2/Blank/iPhone5-Landscape-Standard-x2.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.iphone5.landscape.standard-scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1.png')
    a(href='' class='downloadzip') 
      span Download 
.column.item.iphone5.landscape.scrolled
  .card
    input(type='checkbox' name='files[]' value='iPhone5/')
    .overlay
      span Added to collection
    span
      i.icon-plus
      i.icon-check
    a(href='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Scrolled-x2/Blank/iPhone5-Landscape-Scrolled-x2.png' class='lightbox')
      img(src='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Scrolled-x2/Blank/iPhone5-Landscape-Scrolled-x2.png')
    a(href='' class='downloadzip') 
      span Download