//- includes/scripts.jade

script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js')
script(src='../js/isotope.pkgd.min.js')
script(src='../js/swiper.jquery.min.js')
script(src='../js/sticky-kit.min.js')
script(src='../js/jquery.fluidbox.min.js')
script(src='../js/classie.js')
script(src='../js/scripts.js')