//- includes/scripts.jade
script(src='//code.jquery.com/jquery-1.11.3.min.js')
script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js')
script(src='../js/isotope.pkgd.min.js')
script(src='../js/classie.min.js')
script(src='../js/main.js')