doctype html
html
  include ../include/_HeadSub.pug
  title 404 - Uh Oh, something's went wrong.
  meta(name='title' ,content="404 - Uh Oh, something's went wrong.")
  meta(property='og:title', content="404 - Uh Oh, something's went wrong.")
  meta(name='twitter:title', content="404 - Uh Oh, something's went wrong.")
  meta(name='description', content='Sketchsheets is an open source project dedicated to providing free printable templates of the latest devices and platforms for wireframing designs.')
  meta(property='og:description', content='Sketchsheets is an open source project dedicated to providing free printable templates of the latest devices and platforms for wireframing designs.')
  meta(name='twitter:description', content='Sketchsheets is an open source project dedicated to providing free printable templates of the latest devices and platforms for wireframing designs.')
  link(rel='stylesheet', href='../styles/main.css')
  body
    section
      .wrap
        .flex.error-code
          .flexi
            img(src='../images/404.png')