//- index.jade
include ../includes/zip.php
doctype html
html
  head
    include ../includes/head.jade
    title Printable device sketch sheet templates for UX & UI designers
    meta(name='title' ,content='Printable sketch sheets for UX & UI designers')
    meta(property='og:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='twitter:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='description', content='Printable wireframe templates for designers')
    meta(property='og:description', content='Printable wireframe templates for designers')
    meta(name='twitter:description', content='Printable wireframe templates for designers')
    link(rel='stylesheet', href='../css/style.css')
    link(rel='stylesheet', href='../css/fluidbox.css')
  body        
    .wrap
      nav
        .row
          .column.four
            .logo
              a(href='/')
          .column.eight
            ul
              li
                a.active(href='/devicetemplates') Device Templates
              li
                a(href='../icontemplates') Icon Templates
              li
                a(href='../othertemplates') Other Templates
      section
        .row.hero
          .column
            h3 Free Printable Device Templates for Designers
            a(href='')
              i.icon-twitter
        
      .row
        aside.column.aside-left.top.nest
          .row.sidebar
            .column.twelve
              .download-collection
                button.disabled.download-collection-button
                  span.button-label.disabled
                    | Download
                  .collection-total
                    span.collection-total-count
                      | 0
            .column.twelve
              .filter
                .filter-list(data-filter-group='device')
                  span Device
                  button.button.checked(data-filter='') All
                  button.button(data-filter='.iphone5') iPhone 5
                  button.button(data-filter='.iphone6') iPhone 6
                  button.button(data-filter='.iphone6plus') iPhone 6 Plus
                  button.button(data-filter='.ipad') iPad
                  button.button(data-filter='.ipadpro') iPad Pro
                  button.button(data-filter='.web') Web / Desktop
            .column.twelve
              .filter
                .filter-list(data-filter-group='orientation')
                  span Orientation
                  button.button.checked(data-filter='') All
                  button.button(data-filter='.portrait') Portrait
                  button.button(data-filter='.landscape') Landscape
                  button.button(data-filter='.portrait-landscape') Both
            .column.twelve
              .filter
                .filter-list(data-filter-group='screen')
                  span Screen
                  button.button.checked(data-filter='') All
                  button.button(data-filter='.standard') Standard
                  button.button(data-filter='.scrolled') Scrolled
                  button.button(data-filter='.standard-scrolled') Both
        section.column.aside-right.top.nest
          form(name='zips' method='post')
            .row.justify.grid
              .column.item.iphone5.portrait.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2/Blank/iPhone5-Portrait-Standard-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2/Blank/iPhone5-Portrait-Standard-x2.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x3/Blank/iPhone5-Portrait-Standard-x3.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x3/Blank/iPhone5-Portrait-Standard-x3.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x4/Blank/iPhone5-Portrait-Standard-x4.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x4/Blank/iPhone5-Portrait-Standard-x4.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x1-Scrolled-x1.png'   class='lightbox')
                    img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x1-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x2-Scrolled-x1.png'   class='lightbox')
                    img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x2-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone5-Portrait-Standard-x2-Scrolled-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone5-Portrait-Standard-x2-Scrolled-x2.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x2/Blank/iPhone5-Portrait-Scrolled-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x2/Blank/iPhone5-Portrait-Scrolled-x2.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x3/Blank/iPhone5-Portrait-Scrolled-x3.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x3/Blank/iPhone5-Portrait-Scrolled-x3.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x4/Blank/iPhone5-Portrait-Scrolled-x4.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Portrait/iPhone5-Portrait-Scrolled-x4/Blank/iPhone5-Portrait-Scrolled-x4.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait-landscape.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone5-Portrait-Standard-x1-Landscape-Standard-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone5-Portrait-Standard-x1-Landscape-Standard-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait-landscape.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone5-Portrait-Standard-x1-Landscape-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone5.portrait-landscape.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Landscape+Portrait/iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone5-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download
              .column.item.iphone5.landscape.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Standard-x2/Blank/iPhone5-Landscape-Standard-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Standard-x2/Blank/iPhone5-Landscape-Standard-x2.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.iphone5.landscape.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone5-Landscape-Standard-x1-Landscape-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.iphone5.landscape.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone5/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Scrolled-x2/Blank/iPhone5-Landscape-Scrolled-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone5/Landscape/iPhone5-Landscape-Scrolled-x2/Blank/iPhone5-Landscape-Scrolled-x2.png')
                  a(href='' class='downloadzip') 
                    span Download
                    
                    
              
              .column.item.iphone6.portrait.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x2/Blank/iPhone6-Portrait-Standard-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x2/Blank/iPhone6-Portrait-Standard-x2.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x3/Blank/iPhone6-Portrait-Standard-x3.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x3/Blank/iPhone6-Portrait-Standard-x3.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x4/Blank/iPhone6-Portrait-Standard-x4.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x4/Blank/iPhone6-Portrait-Standard-x4.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone6-Portrait-Standard-x1-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone6-Portrait-Standard-x1-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone6-Portrait-Standard-x2-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone6-Portrait-Standard-x2-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone6-Portrait-Standard-x2-Scrolled-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone6-Portrait-Standard-x2-Scrolled-x2.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Scrolled-x2/Blank/iPhone6-Portrait-Scrolled-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Scrolled-x2/Blank/iPhone6-Portrait-Scrolled-x2.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Scrolled-x3/Blank/iPhone6-Portrait-Scrolled-x3.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Scrolled-x3/Blank/iPhone6-Portrait-Scrolled-x3.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Scrolled-x4/Blank/iPhone6-Portrait-Scrolled-x4.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Portrait/iPhone6-Portrait-Scrolled-x4/Blank/iPhone6-Portrait-Scrolled-x4.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait-landscape.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Landscape+Portrait/iPhone6-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone6-Portrait-Standard-x1-Landscape-Standard-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Landscape+Portrait/iPhone6-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone6-Portrait-Standard-x1-Landscape-Standard-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait-landscape.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Landscape+Portrait/iPhone6-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6-Portrait-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Landscape+Portrait/iPhone6-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6-Portrait-Standard-x1-Landscape-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6.portrait-landscape.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Landscape+Portrait/iPhone6-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone6-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Landscape+Portrait/iPhone6-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone6-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download
              .column.item.iphone6.landscape.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Landscape/iPhone6-Landscape-Standard-x2/Blank/iPhone6-Landscape-Standard-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Landscape/iPhone6-Landscape-Standard-x2/Blank/iPhone6-Landscape-Standard-x2.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.iphone6.landscape.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Landscape/iPhone6-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6-Landscape-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Landscape/iPhone6-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6-Landscape-Standard-x1-Landscape-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.iphone6.landscape.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6/Landscape/iPhone6-Landscape-Scrolled-x2/Blank/iPhone6-Landscape-Scrolled-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6/Landscape/iPhone6-Landscape-Scrolled-x2/Blank/iPhone6-Landscape-Scrolled-x2.png')
                  a(href='' class='downloadzip') 
                    span Download
                    
                    
              .column.item.iphone6plus.portrait.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2/Blank/iPhone6Plus-Portrait-Standard-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2/Blank/iPhone6Plus-Portrait-Standard-x2.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x3/Blank/iPhone6Plus-Portrait-Standard-x3.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x3/Blank/iPhone6Plus-Portrait-Standard-x3.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x4/Blank/iPhone6Plus-Portrait-Standard-x4.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x4/Blank/iPhone6Plus-Portrait-Standard-x4.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x1-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x2-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x2-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone6Plus-Portrait-Standard-x2-Scrolled-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Standard-x2-Scrolled-x2/Blank/iPhone6Plus-Portrait-Standard-x2-Scrolled-x2.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x2/Blank/iPhone6Plus-Portrait-Scrolled-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x2/Blank/iPhone6Plus-Portrait-Scrolled-x2.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x3/Blank/iPhone6Plus-Portrait-Scrolled-x3.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x3/Blank/iPhone6Plus-Portrait-Scrolled-x3.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x4/Blank/iPhone6Plus-Portrait-Scrolled-x4.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Portrait/iPhone6Plus-Portrait-Scrolled-x4/Blank/iPhone6Plus-Portrait-Scrolled-x4.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait-landscape.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Landscape-Standard-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Standard-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Landscape-Standard-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait-landscape.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Portrait-Standard-x1-Landscape-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download                  
              .column.item.iphone6plus.portrait-landscape.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Landscape+Portrait/iPhone6Plus-Portrait-Scrolled-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Portrait-Scrolled-x1-Landscape-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download
              .column.item.iphone6plus.landscape.standard
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x2/Blank/iPhone6Plus-Landscape-Standard-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x2/Blank/iPhone6Plus-Landscape-Standard-x2.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.iphone6plus.landscape.standard-scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Landscape-Standard-x1-Landscape-Scrolled-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Standard-x1-Landscape-Scrolled-x1/Blank/iPhone6Plus-Landscape-Standard-x1-Landscape-Scrolled-x1.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.iphone6plus.landscape.scrolled
                .card
                  input(type='checkbox' name='files[]' value='iPhone6Plus/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Scrolled-x2/Blank/iPhone6Plus-Landscape-Scrolled-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPhone6Plus/Landscape/iPhone6Plus-Landscape-Scrolled-x2/Blank/iPhone6Plus-Landscape-Scrolled-x2.png')
                  a(href='' class='downloadzip') 
                    span Download
                  
                  
              .column.item.ipad.portrait
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-x1/Blank/iPad-Portrait-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-x1/Blank/iPad-Portrait-x1.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.portrait
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-Multitask-x1/Blank/iPad-Portrait-Multitask-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-Multitask-x1/Blank/iPad-Portrait-Multitask-x1.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.portrait
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-x2/Blank/iPad-Portrait-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-x2/Blank/iPad-Portrait-x2.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.portrait
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-x1-Multitask-x1/Blank/iPad-Portrait-x1-Multitask-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-x1-Multitask-x1/Blank/iPad-Portrait-x1-Multitask-x1.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.portrait
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Portrait/iPad-Portrait-Multitask-x2/Blank/iPad-Portrait-Multitask-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Portrait/iPad-Portrait-Multitask-x2/Blank/iPad-Portrait-Multitask-x2.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.landscape
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-x1/Blank/iPad-Landscape-x1.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-x1/Blank/iPad-Landscape-x1.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.landscape
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x1-A/Blank/iPad-Landscape-Multitask-x1-A.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x1-A/Blank/iPad-Landscape-Multitask-x1-A.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.landscape
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x1-B/Blank/iPad-Landscape-Multitask-x1-B.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x1-B/Blank/iPad-Landscape-Multitask-x1-B.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.landscape
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-x2/Blank/iPad-Landscape-x2.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-x2/Blank/iPad-Landscape-x2.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.landscape
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-x1-Multitask-x1-A/Blank/iPad-Landscape-x1-Multitask-x1-A.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-x1-Multitask-x1-A/Blank/iPad-Landscape-x1-Multitask-x1-A.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.landscape
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-x1-Multitask-x1-B/Blank/iPad-Landscape-x1-Multitask-x1-B.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-x1-Multitask-x1-B/Blank/iPad-Landscape-x1-Multitask-x1-B.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.landscape
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x2-A/Blank/iPad-Landscape-Multitask-x2-A.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x2-A/Blank/iPad-Landscape-Multitask-x2-A.png')
                  a(href='' class='downloadzip') 
                    span Download 
              .column.item.ipad.landscape
                .card
                  input(type='checkbox' name='files[]' value='iPad/')
                  .overlay
                    span Added to collection
                  span
                    i.icon-plus
                    i.icon-check
                  a(href='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x2-B/Blank/iPad-Landscape-Multitask-x2-B.png' class='lightbox')
                    img(src='../sketchsheets/iPad/Landscape/iPad-Landscape-Multitask-x2-B/Blank/iPad-Landscape-Multitask-x2-B.png')
                  a(href='' class='downloadzip') 
                    span Download 
            input(type='submit' name='zipit' class='zipit')
  
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js')
    script(src='../js/isotope.pkgd.min.js')
    script(src='../js/jquery.fluidbox.min.js')
    script(src='../js/classie.js')
    script(src='../js/scripts.js')