//- index.jade
include ../includes/zip.php
doctype html
html
  head
    include ../includes/head.jade
    title Printable device sketch sheet templates for UX & UI designers
    meta(name='title' ,content='Printable sketch sheets for UX & UI designers')
    meta(property='og:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='twitter:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='description', content='Printable wireframe templates for designers')
    meta(property='og:description', content='Printable wireframe templates for designers')
    meta(name='twitter:description', content='Printable wireframe templates for designers')
    link(rel='stylesheet', href='../css/style.css')
    link(rel='stylesheet', href='../css/fluidbox.css')
    link(rel='stylesheet', href='../css/swiper.min.css')
  body        
    .wrap
      nav
        .row
          .column.four.bottom
            .logo
              a(href='/')
          .column.eight
            ul
              li
                a.active(href='/devicetemplates') Device Templates
              li
                span Icon Templates
      section
        .row.hero
          .column
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  a(href='')
                    .row
                      .column.twelve
                        h1 Printable device templates for designers
                        p 
                          i.icon-twitter
                .swiper-slide
                  a(href='')
                    .row
                      .column.twelve
                        h1 Create your own template
                        p Download the .sketch
                .swiper-slide
                  a(href='')
                    .row
                      .column.twelve
                        h1 Advertise here
                        p Contact ads@sketchsheets.cc
              .swiper-pagination
        
      .row
        aside.column.aside-left.top.nest
          .row.sidebar
            .column.twelve
              .download-collection
                button.disabled.download-collection-button
                  .button-label.disabled
                    | Download Collection
                  .collection-total
                    span.collection-total-count
                      | 0
            .column.twelve
              .filter
                .filter-list(data-filter-group='device')
                  span Device
                  button.button.checked(data-filter='') All
                  button.button(data-filter='.iphone5') iPhone 5
                  button.button(data-filter='.iphone6') iPhone 6
                  button.button(data-filter='.iphone6plus') iPhone 6 Plus
                  button.button(data-filter='.ipad') iPad
                  button.button(data-filter='.ipadpro') iPad Pro
                  button.button(data-filter='.web') Web / Desktop
            .column.twelve
              .filter
                .filter-list(data-filter-group='orientation')
                  span Orientation
                  button.button.checked(data-filter='') All
                  button.button(data-filter='.portrait') Portrait
                  button.button(data-filter='.landscape') Landscape
                  button.button(data-filter='.portrait-landscape') Both
            .column.twelve
              .filter
                .filter-list(data-filter-group='screen')
                  span Screen
                  button.button.checked(data-filter='') All
                  button.button(data-filter='.standard') Standard
                  button.button(data-filter='.scrolled') Scrolled
                  button.button(data-filter='.standard-scrolled') Both
        section.column.aside-right.top.nest
          form(name='zips' method='post')
            .row.justify.grid
              include ../includes/iphone5.jade
              include ../includes/iphone6.jade
              include ../includes/iphone6plus.jade
              include ../includes/ipad.jade
            input(type='submit' name='zipit' class='zipit')
            
    include ../includes/footer.jade
            
    include ../includes/scripts.jade