// Built upon 8pt Grid by Mark Wilson
// https://github.com/rnarrkus/8pt-grid

// Configuration
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// 8pt Break Points
screen-phone ?= 384px
screen-tablet ?= 768px
screen-desktop ?= 1152px
screen-desktop-large ?= 1536px

// 8pt Pixel Perfect Breakpoints
// 1920 (px)
// 1824 (px)
// 1728 (px)
// 1632 (px)
// 1536 (px)
// 1440 (px)
// 1344 (px)
// 1248 (px)
// 1152 (px)
// 1056 (px)
//  960 (px)
//  864 (px)
//  768 (px)
//  672 (px)
//  576 (px)
//  480 (px)
//  384 (px)
//  288 (px)

// 8pt Grid
number-of-columns ?= 12 // 4, 6, 8, 12, 16
gutter ?= 1.6rem