//- index.jade
include includes/zip.php
doctype html
html
  head
    include includes/head.jade
    title Printable sketch sheets for UX & UI designers
    meta(name='title' ,content='Printable sketch sheets for UX & UI designers')
    meta(property='og:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='twitter:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='description', content='Printable wireframe templates for designers')
    meta(property='og:description', content='Printable wireframe templates for designers')
    meta(name='twitter:description', content='Printable wireframe templates for designers')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/fluidbox.css')
  body        
    .wrap
      nav
        .row
          .column.four
            .logo
              a(href='/')
          .column.eight
            ul
              li
                a(href='devicetemplates') Device Templates
              li
                a(href='icontemplates') Icon Templates
              li
                a(href='othertemplates') Other Templates
      section
        .row.hero
          .column
            h3 Free Printable Device Templates for Designers
            a(href='')
              i.icon-twitter
  
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js')
    script(src='../js/isotope.pkgd.min.js')
    script(src='../js/jquery.fluidbox.min.js')
    script(src='../js/classie.js')
    script(src='../js/scripts.js')