//- index.jade
doctype html
html
  head
    include includes/head.jade
    title Printable sketch sheets for UX & UI designers
    meta(name='title' ,content='Printable sketch sheets for UX & UI designers')
    meta(property='og:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='twitter:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='description', content='Printable wireframe templates for designers')
    meta(property='og:description', content='Printable wireframe templates for designers')
    meta(name='twitter:description', content='Printable wireframe templates for designers')
    link(rel='stylesheet', href='css/style.css')
  body        
    .wrap
      nav
        .row
          .column.four.bottom
            .logo
              a(href='/')
          .column.eight
            ul
              li
                a(href='devicetemplates') Device Templates
              li
                span Icon Templates