//- index.jade
doctype html
html
  head
    include includes/head.jade
    title Printable sketch sheets for UX & UI designers
    meta(http-equiv="refresh", content="0; URL='devicetemplates'")
    meta(name='title', content='Printable sketch sheets for UX & UI designers')
    meta(property='og:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='twitter:title', content='Printable sketch sheets for UX & UI designers')
    meta(name='description', content='Download free printable device templates for UI & UX designers. Each sketch sheet contains a blank and dotted-grid version in .pdf, .png, and .eps formats.')
    meta(property='og:description', content='Download free printable device templates for UI & UX designers. Each sketch sheet contains a blank and dotted-grid version in .pdf, .png, and .eps formats.')
    meta(name='twitter:description', content='Download free printable device templates for UI & UX designers. Each sketch sheet contains a blank and dotted-grid version in .pdf, .png, and .eps formats.')
    link(rel='stylesheet', href='css/style.css')
  body        
    .wrap
      nav
        .row
          .column.four.bottom
            .logo
              a(href='/')
          .column.eight
            ul
              li
                a(href='devicetemplates') Device Templates
              li
                span Icon Templates