// Grub Break Points
$screen-phone = 400px
$screen-tablet = 600px
$screen-desktop = 900px
$screen-desktop-large = 1200px

// Grub Grid
$wrap-width = 1200px
$number-of-columns = 12
$gutter = 10px

// Text
$base-size = 10px
$p-size = 14px
$line-height = $p-size + 8px
$h1-size = $p-size + 10px
$h2-size = $p-size + 8px
$h3-size = $p-size + 6px
$h4-size = $p-size + 4px
$h5-size = $p-size + 2px
$h6-size = $p-size

// Colors
