@font-face {
  font-family: 'moon';
  src: url("../fonts/moon.eot?fzew0h");
  src: url("../fonts/moon.eot?fzew0h#iefix") format('embedded-opentype'), url("../fonts/moon.ttf?fzew0h") format('truetype'), url("../fonts/moon.woff?fzew0h") format('woff'), url("../fonts/moon.svg?fzew0h#moon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'moon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-arrow-up:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e917";
}
.icon-cross:before {
  content: "\e927";
}
.icon-heart:before {
  content: "\e93a";
}
.icon-plus:before {
  content: "\e95c";
}