@require 'vendorprefix.styl'
@require 'config.styl'

h1
  font-size $h1-size
  font-weight 400

h2
  font-size $h2-size

h3
  font-size $h3-size

h4
  font-size $h4-size

h5
  font-size $h5-size

h6
  font-size $h6-size

h1,h2,h3,h4,h5,h6
  margin 1.5em 0

p
  font-size $p-size
  line-height $line-height
  margin 1em 0
  
card()
  display block
  position relative
  border 1px solid $lightest
  background #FFFFFF
  border-radius $border-radius
  padding 60px 10px
  
slide1()
  background url(../img/hero3.png) center center no-repeat
  background-size cover 105%
  
slide2()
  background url(../img/hero2.png) center center no-repeat
  background-size cover 105%
  
slide3()
  background repeating-linear-gradient(
  45deg,
  #fff,
  #fff 4px,
  alpha(#465298, 0.1) 1px,
  alpha(#465298, 0.1) 5px)

body
  font 400 10px $font
  background #FFFFFF
  
a
  text-decoration none
  color $light
  font-weight 400
  &:hover
    color $purple

//\\//\\//\\//\\//\\//\\//\\//\\//\\ Navigation
nav
  margin 40px 0 30px 0
  padding 0 15px
  ul
    text-align center
    list-style none
    margin 0
    @media (min-width 600px)
      float right
      text-align right
    li 
      display inline-block
      padding 0 10px
      font-size 14px
      &:first-of-type
        padding-left 0
      &:last-of-type
        padding-right 0
      @media (min-width 900px)
        padding 0 20px
      > a.active
        color $purple
      span 
        color $light
        cursor not-allowed
  .logo
    background url(../img/logo.svg) no-repeat
    background-size contain
    height 16px
    width 118px
    margin 0 auto 20px auto
    @media (min-width 600px)
      margin 0 0 6px 0
    > a 
      display block
      width 100%
      height 100%
      

//\\//\\//\\//\\//\\//\\//\\//\\//\\ Hero      
.hero
  margin 0 10px 50px 10px
  position relative
  .swiper-container
    border-radius 8px
    overflow hidden
    .swiper-wrapper
      width 100%
      height 300px
      .swiper-slide
        width 100%
        height 100%
        &:nth-of-type(1)
          slide1()
          a
            color #FFFFFF
          p 
            opacity 0.25
        &:nth-of-type(2)
          slide2()
          a
            color #FFFFFF
          p 
            opacity 0.5
        &:nth-of-type(3)
          slide3()
          a
            color $dark
          p 
            opacity 0.3
        .row
          height 100%
          .column
            text-align center
            p i 
              font-size 28px
            p, h1
              margin 0.75em 0
              

//\\//\\//\\//\\//\\//\\//\\//\\//\\ Sidebar 
.row
  > section.column.column.aside-right
    margin-top 30px

@media (min-width 600px)
  .row
    > aside.column.column.aside-left
      width 260px
      margin-right 25px
    > section.column.column.aside-right
      width calc(100% - 300px)
      margin-right 15px
      margin-top 0
      
.sidebar
  .filter
    .filter-list
      span 
        display block
        padding 0 0 12px 15px
        font-size 14px
        font-weight 500
        color $text-dark
      button
        margin 1px 0
        color $lighter
        &:last-of-type
          margin-bottom 10px
        &:hover
        &.checked
          color $purple
    
button
  display block
  background none
  border none
  outline none
  width 100%
  text-align left
  font-size 13px
  padding 8px 15px
  color $text-dark
  border-radius $border-radius - 2px
  cursor pointer

    
.download-collection
  button.download-collection-button
    &.disabled
      cursor not-allowed
      border 1px solid $lightest
      > .button-label
        color $light
      &:hover
        opacity 1
    border 1px solid $purple
    padding 22px 0
    margin-bottom 10px
    text-align center
    position relative
    &:hover
      opacity 0.8
    > .button-label
      position relative
      width 67%
      text-align right
      padding-right 20px
      @media (min-width 600px)
        width 80%
      float left
      color $purple
    > .collection-total
      width 33%
      @media (min-width 600px)
        width 20%
      float left
      position relative
      margin-top -1px
      i 
        display block
        font-size 20px
        color #C4C8CB
      > span.collection-total-count
        display block
        padding-right 1px
        position absolute
        border 1px solid $lighter
        color $lighter
        border-radius: 4px
        width 18px
        height 18px
        font-size 10px
        text-align center
        font-weight 500
        line-height 16px
        transition 300ms
        -webkit-transition 300ms
        &.color
          border 1px solid $purple !important
          color $purple !important
  button.clear-collection
    margin-bottom 20px
    color $lighter
    &:hover
      color $purple

.countAnim 
  -webkit-animation countAnim 350ms forwards
  animation countAnim 350ms forwards

@keyframes countAnim 
  50% 
    opacity 0
    -webkit-transform translate3d(0, 35px, 0)
    transform translate3d(0, 35px, 0)

  51% 
    opacity 0
    -webkit-transform translate3d(0, -35px, 0)
    transform translate3d(0, -35px, 0)

  100% 
    opacity 1
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)
    
    
//\\//\\//\\//\\//\\//\\//\\//\\//\\ Grid
.row
  > .column.column.item
    width 100%
    > .card
      card()
      a.lightbox
        &:hover
          cursor zoom-in
      img
        width 100%
      &.border
        border 1px solid $purple !important 
      > .overlay
        display none
        position absolute
        text-align center
        z-index 1000
        border-radius $border-radius        
        top 0
        left 0
        bottom 0
        right 0
        height 100%
        width 100%
        background alpha(#ffffff, 0.9)
        > span
          position absolute
          left 0
          right 0
          top 48%
          color $purple
          font-size 14px
      > input
        z-index 1010
        position absolute
        top 20px
        right 20px
        cursor pointer
        width 36px
        height 36px
        opacity 0
        &:checked
          ~ span
            border 1px solid $purple
            > i.icon-plus
              display none
            > i.icon-check
              display block !important
          ~ .overlay
            display block !important
          &:hover
            ~ span
              border 1px solid alpha($purple, 0.8)
              > i 
                color $purple
        &:hover
          ~ span
            border 1px solid alpha($purple, 0.8)
            > i 
              color $purple
      > span
        z-index 1000
        position absolute
        top 20px
        right 20px
        border-radius $border-radius
        display block
        border 1px solid rgba(0,0,0,0)
        width 36px
        height 36px
        > i
          position absolute
          font-size 15px
          left 9px
          top 9px
          color $purple
          &.icon-plus
            display block
          &.icon-check
            display none
      > .downloadzip
        position absolute
        color $purple
        padding 25px 0
        bottom 0
        left 0
        right 0
        text-align center
        font-size 14px
        font-weight 400
        &:hover
          color alpha($purple, 0.8)
        > span
          display inline-block
          margin auto
          
@media (min-width 900px)
  section
    .row
      > .column.column.item
        width 50%
        
@media (min-width 1200px)
  section
    .row
      > .column.column.item
        width (100/3) + '%'
          
.download
  margin-bottom 20px
  button
    width auto
          
.zipit
  display none
  
//\\//\\//\\//\\//\\//\\//\\//\\//\\ Footer
    
.footer
  margin-top 200px
  background #FAFBFC
  .footer-links
    padding 250px 0
  h6
    margin 0.5em auto
    width 50%
    color $light
  ul 
    margin 0 auto
    list-style none
    width 50%
    li 
      font-size $p-size
      padding 5px 0
  p 
    text-align center
    color $light
  span 
    position relative
    display inline-block
    width 18px
    height 18px
    margin 0 2px
    i 
      position absolute
      top 4px
      left 0
      font-size 18px
      color #FF82A2