section.filters.fadeInUp
  .wrap
    .flex.h-center.filters-content
      .flexi
        button.button-clear.active(data-filter='all') All
        button.button-clear(data-filter='.phone') Phone
        button.button-clear(data-filter='.tablet') Tablet
        button.button-clear(data-filter='.desktop') Desktop
        button.button-clear(data-filter='.web') Web
        button.button-clear(data-filter='.wearable') Wearable
        button.button-clear(data-filter='.icon') Icon
        button.button-clear(data-filter='.vr') VR
        button.button-clear(data-filter='.frameless') Frameless