section.footer
  .wrap
    .flex.h-left.footer-content
      .flexi.eight
        .about
          p Sketchsheets is an open source project dedicated to providing free printable templates of the latest devices and platforms for wireframing. Made by <a href='https://markwil.so' target='_blank'>Markus</a>.
      .flexi.eight
        .license
          p Sketchsheets is provided under the <a href='https://creativecommons.org/licenses/by-sa/4.0/' target='_blank'>CC BY-SA 4.0 license</a>.
      .flexi.four
        .support
          form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank")
            input(type="hidden" name="cmd" value="_donations")
            input(type="hidden" name="business" value="E@markwil.so")
            input(type="hidden" name="lc" value="GB")
            input(type="hidden" name="item_name" value="Sketchsheets")
            input(type="hidden" name="no_note" value="0")
            input(type="hidden" name="currency_code" value="USD")
            input(type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest")
            input(type="submit" value='Support Sketchsheets' name="support" alt="Support Sketchsheets")
