.flex.grid-end
  .flexi
    p Feel like something's missing? <br> Contribute to this project on <a href='https://github.com/rnarrkus/sketchsheets' target='_blank'>GitHub</a> or <a href='mailto:mail@sketchsheets.com' target='_blank'>suggest an addition</a>.