section.grid
  .wrap
    .flex.h-left.grid-content.targets
      .flexi.d-four.t-six.mix.phone
        .grid-item(data-src='phone/iPhoneX').iphonex
          img(src='images/categories/iphonex.svg')
          span iPhone X
          small 15 Templates - 4.2 MB

      .flexi.d-four.t-six.mix.phone
        .grid-item(data-src='phone/iPhone8').iphone8
          img(src='images/categories/iphone8.svg')
          span.title iPhone 8
          small.info 15 Templates - 3.8 MB

      .flexi.d-four.t-six.mix.phone
        .grid-item(data-src='phone/GalaxyS10').galaxys10
          img(src='images/categories/galaxys10.svg')
          span.title Galaxy S10
          small.info 15 Templates - 3.8 MB

      .flexi.d-four.t-six.mix.phone
        .grid-item(data-src='phone/Pixel2').pixel2
          img(src='images/categories/pixel2.svg')
          span.title Pixel 2
          small.info 15 Templates - 3.3 MB

      .flexi.d-four.t-six.mix.tablet
        .grid-item(data-src='tablet/iPadPro').ipadpro
          img(src='images/categories/ipadpro.svg')
          span.title iPad Pro
          small.info 15 Templates - 3.3 MB

      .flexi.d-four.t-six.mix.tablet
        .grid-item(data-src='tablet/SurfacePro').surfacepro
          img(src='images/categories/surfacepro.svg')
          span.title Surface Pro
          small.info 6 Templates - 1.2 MB

      .flexi.d-four.t-six.mix.web.desktop
        .grid-item(data-src='desktop-and-web/MixedWeb').mixedweb
          img(src='images/categories/mixedweb.svg')
          span.title Mixed Web
          small.info 7 Templates - 1.5 MB

      .flexi.d-four.t-six.mix.desktop
        .grid-item(data-src='desktop-and-web/DesktopApp').desktop
          img(src='images/categories/desktop.svg')
          span.title Desktop App
          small.info 2 Templates - 392 KB

      .flexi.d-four.t-six.mix.wearable
        .grid-item(data-src='wearable/AppleWatch').applewatch
          img(src='images/categories/applewatch.svg')
          span.title Apple Watch
          small.info 20 Templates - 8.4 MB

      .flexi.d-four.t-six.mix.vr
        .grid-item(data-src='vr/VirtualReality').vr.new
          img(src='images/categories/vr.svg')
          span.title Virtual Reality
          small.info 5 Templates - 2 MB

      .flexi.d-four.t-six.mix.icon
        .grid-item(data-src='icon/IconGlyphs').iconglyphs.new
          img(src='images/categories/iconglyphs.svg')
          span.title Icon Glyphs
          small.info 4 Templates - 822 KB

      .flexi.d-four.t-six.mix.icon
        .grid-item(data-src='icon/AppIcon').appicons.new
          img(src='images/categories/appicons.svg')
          span.title App Icons
          small.info 15 Templates - 4.7 MB

      .flexi.d-four.t-six.mix.frameless
        .grid-item(data-src='frameless/FramelessGrid').frameless.new
          img(src='images/categories/frameless.svg')
          span.title Frameless Grids
          small.info 3 Templates - 443 KB

    include _GridEnd.pug
